#header {
	background: $brand-white;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 8px #ddd;
}

#nav {
	ul {
		li {
			a {
				display: block;
				padding: 10px 15px;
				&:hover, &.current{
					color: $brand-color;
				}
			}
		}
	}
}