/* Brand Colors */

$brand-color: #17e2d8;
$brand-green: #00b44b;
$brand-blue: #007dca;
$brand-orange: #ffb600;
$home-bg: #ecebe7;
$brand-white: #fff;


/* Fonts */
$font-family: arial;
$font-size: 14px;

